[
    (
        name: "a",
        greeting: "b",
        id: "01JR4EFEM2PT95T8E2QTAP6AHE",
        creator: ("284834416633577472"),
        version: 0,
        next_version: Some("01JR4EGJZM7JP7CRQ4NBWH45SG"),
        previous_version: None,
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [],
        latest_editor: None,
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a6",
        greeting: "b",
        id: "01JR4GQFFS9ZFP93RYS5FTCD6J",
        creator: ("284834416633577472"),
        version: 5,
        next_version: Some("01JR4GYSJFEGMKTF76D5CWX6VR"),
        previous_version: Some("01JR4GMBYNCB0P64PV6G1NTKBY"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
            "2025-04-06T04:59:44.725370001+02:00[Europe/Stockholm]",
            "2025-04-06T05:01:26.649383732+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "bajsmannen 2",
        greeting: "baaaaajs!",
        id: "01JR3E7T85G4KA4M5AJE40B7Q7",
        creator: ("284834416633577472"),
        version: 1,
        next_version: Some("01JR3EA8KPJY7ZHV4FHV2YW125"),
        previous_version: Some("01JR3E6AKRQ06HJCNAR7KZSP6V"),
        nickname: Some("bajs"),
        description: Some("Bajsmannen!"),
        personality: Some("Jag heter bajsmannen! Baaaajs!"),
        system_prompt: Some("Använd alltid ordet bajs i ditt meddelande."),
        prompt: Some("Bajs!"),
        scenario: None,
        avatar: None,
        emoji: Some(":poo:"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-05T18:57:53.016477473+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-05T18:58:41.797028516+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a5",
        greeting: "b",
        id: "01JR4GMBYNCB0P64PV6G1NTKBY",
        creator: ("284834416633577472"),
        version: 4,
        next_version: Some("01JR4GQFFS9ZFP93RYS5FTCD6J"),
        previous_version: Some("01JR4GHN5R3DE6A0N8SA48Y3ZW"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
            "2025-04-06T04:59:44.725370001+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a",
        greeting: "b",
        id: "01JR4BH9JKHZ3ZP8NX9DDSWD3H",
        creator: ("284834416633577472"),
        version: 0,
        next_version: None,
        previous_version: None,
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [],
        latest_editor: None,
        deleted_by: Some(("284834416633577472")),
        color: None,
        created_at: "2025-04-06T03:30:41.107373511+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "bajsmannen",
        greeting: "baaaaajs!",
        id: "01JR3E6AKRQ06HJCNAR7KZSP6V",
        creator: ("284834416633577472"),
        version: 0,
        next_version: Some("01JR3E7T85G4KA4M5AJE40B7Q7"),
        previous_version: None,
        nickname: Some("bajs"),
        description: Some("Bajsmannen!"),
        personality: Some("Jag heter bajsmannen! Baaaajs!"),
        system_prompt: Some("Använd alltid ordet bajs i ditt meddelande."),
        prompt: Some("Bajs!"),
        scenario: None,
        avatar: None,
        emoji: Some(":poo:"),
        all_editors: [],
        latest_editor: None,
        deleted_by: None,
        color: None,
        created_at: "2025-04-05T18:57:53.016477473+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a",
        greeting: "b",
        id: "01JR4DGT87167NKSV1HWR8MSXP",
        creator: ("284834416633577472"),
        version: 0,
        next_version: None,
        previous_version: None,
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [],
        latest_editor: None,
        deleted_by: Some(("284834416633577472")),
        color: None,
        created_at: "2025-04-06T04:05:22.567925861+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "Steve",
        greeting: "hej jag heter steve",
        id: "01JR5YCT35PJPQKGHSTTD12TSE",
        creator: ("284834416633577472"),
        version: 0,
        next_version: None,
        previous_version: None,
        nickname: Some("g"),
        description: Some("as"),
        personality: Some("d"),
        system_prompt: Some("s"),
        prompt: Some("gf"),
        scenario: Some("r"),
        avatar: None,
        emoji: Some("h"),
        all_editors: [],
        latest_editor: None,
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T18:19:31.55791656+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a3",
        greeting: "b",
        id: "01JR4ENNDZX2VX9C9Q0WXSGQ6A",
        creator: ("284834416633577472"),
        version: 2,
        next_version: Some("01JR4GHN5R3DE6A0N8SA48Y3ZW"),
        previous_version: Some("01JR4EGJZM7JP7CRQ4NBWH45SG"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a7",
        greeting: "2",
        id: "01JR4GYSJFEGMKTF76D5CWX6VR",
        creator: ("284834416633577472"),
        version: 6,
        next_version: Some("01JR4H52EGKFT5PT65M43AGJFH"),
        previous_version: Some("01JR4GQFFS9ZFP93RYS5FTCD6J"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
            "2025-04-06T04:59:44.725370001+02:00[Europe/Stockholm]",
            "2025-04-06T05:01:26.649383732+02:00[Europe/Stockholm]",
            "2025-04-06T05:05:26.351317676+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a10",
        greeting: "2",
        id: "01JR4HENW6ZCSDWMYBNFZ7E79T",
        creator: ("284834416633577472"),
        version: 9,
        next_version: None,
        previous_version: Some("01JR4HBXW16WTB931XFP2BJ13X"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: Some(("284834416633577472")),
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
            "2025-04-06T04:59:44.725370001+02:00[Europe/Stockholm]",
            "2025-04-06T05:01:26.649383732+02:00[Europe/Stockholm]",
            "2025-04-06T05:05:26.351317676+02:00[Europe/Stockholm]",
            "2025-04-06T05:08:52.048337648+02:00[Europe/Stockholm]",
            "2025-04-06T05:12:36.737520534+02:00[Europe/Stockholm]",
            "2025-04-06T05:14:06.854388865+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a9",
        greeting: "2",
        id: "01JR4HBXW16WTB931XFP2BJ13X",
        creator: ("284834416633577472"),
        version: 8,
        next_version: Some("01JR4HENW6ZCSDWMYBNFZ7E79T"),
        previous_version: Some("01JR4H52EGKFT5PT65M43AGJFH"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
            "2025-04-06T04:59:44.725370001+02:00[Europe/Stockholm]",
            "2025-04-06T05:01:26.649383732+02:00[Europe/Stockholm]",
            "2025-04-06T05:05:26.351317676+02:00[Europe/Stockholm]",
            "2025-04-06T05:08:52.048337648+02:00[Europe/Stockholm]",
            "2025-04-06T05:12:36.737520534+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a8",
        greeting: "2",
        id: "01JR4H52EGKFT5PT65M43AGJFH",
        creator: ("284834416633577472"),
        version: 7,
        next_version: Some("01JR4HBXW16WTB931XFP2BJ13X"),
        previous_version: Some("01JR4GYSJFEGMKTF76D5CWX6VR"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
            "2025-04-06T04:59:44.725370001+02:00[Europe/Stockholm]",
            "2025-04-06T05:01:26.649383732+02:00[Europe/Stockholm]",
            "2025-04-06T05:05:26.351317676+02:00[Europe/Stockholm]",
            "2025-04-06T05:08:52.048337648+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "Bajs-Steve",
        greeting: "hej jag heter steve",
        id: "01JR5HPS3GC5ERVY1X9CXE09GX",
        creator: ("284834416633577472"),
        version: 1,
        next_version: None,
        previous_version: Some("01JR5HE1QMQSKX9CBVME0K26R1"),
        nickname: Some("Steve"),
        description: None,
        personality: None,
        system_prompt: None,
        prompt: None,
        scenario: Some("bajs"),
        avatar: None,
        emoji: Some("💩"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: Some(("284834416633577472")),
        color: None,
        created_at: "2025-04-06T14:33:00.660578292+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T14:37:46.736329333+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "Steve",
        greeting: "hej jag heter steve",
        id: "01JR5HE1QMQSKX9CBVME0K26R1",
        creator: ("284834416633577472"),
        version: 0,
        next_version: Some("01JR5HPS3GC5ERVY1X9CXE09GX"),
        previous_version: None,
        nickname: Some("bajs"),
        description: None,
        personality: None,
        system_prompt: None,
        prompt: None,
        scenario: None,
        avatar: None,
        emoji: Some(":apple:"),
        all_editors: [],
        latest_editor: None,
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T14:33:00.660578292+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a",
        greeting: "b",
        id: "01JR36XBKB2JG0RJWJMRZQ24DD",
        creator: ("284834416633577472"),
        version: 0,
        next_version: Some("01JR3BEX0XZXXAKEGSPKZRGFN8"),
        previous_version: None,
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("h"),
        prompt: Some("i"),
        scenario: Some("j"),
        avatar: None,
        emoji: Some("g"),
        all_editors: [],
        latest_editor: None,
        deleted_by: None,
        color: None,
        created_at: "2025-04-05T16:50:39.083862205+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "bajsmannen 3",
        greeting: "baaaaajs!",
        id: "01JR3EA8KPJY7ZHV4FHV2YW125",
        creator: ("284834416633577472"),
        version: 2,
        next_version: None,
        previous_version: Some("01JR3E7T85G4KA4M5AJE40B7Q7"),
        nickname: Some("bajs"),
        description: Some("Bajsmannen!"),
        personality: Some("Jag heter bajsmannen! Baaaajs!"),
        system_prompt: Some("Använd alltid ordet bajs i ditt meddelande."),
        prompt: Some("Bajs!"),
        scenario: None,
        avatar: None,
        emoji: Some(":poo:"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: Some(("284834416633577472")),
        color: None,
        created_at: "2025-04-05T18:57:53.016477473+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-05T18:58:41.797028516+02:00[Europe/Stockholm]",
            "2025-04-05T19:00:02.03886552+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a4",
        greeting: "b",
        id: "01JR4GHN5R3DE6A0N8SA48Y3ZW",
        creator: ("284834416633577472"),
        version: 3,
        next_version: Some("01JR4GMBYNCB0P64PV6G1NTKBY"),
        previous_version: Some("01JR4ENNDZX2VX9C9Q0WXSGQ6A"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
            "2025-04-06T04:25:30.047439296+02:00[Europe/Stockholm]",
            "2025-04-06T04:58:15.864378258+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "1",
        greeting: "2",
        id: "01JR3BEX0XZXXAKEGSPKZRGFN8",
        creator: ("284834416633577472"),
        version: 1,
        next_version: None,
        previous_version: Some("01JR36XBKB2JG0RJWJMRZQ24DD"),
        nickname: Some("3"),
        description: Some("4"),
        personality: Some("5"),
        system_prompt: Some("7"),
        prompt: Some("8"),
        scenario: Some("9"),
        avatar: None,
        emoji: Some("6"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: Some(("284834416633577472")),
        color: None,
        created_at: "2025-04-05T16:50:39.083862205+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-05T18:10:08.28590211+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a",
        greeting: "b",
        id: "01JR5Y965Z7FSY40CXYGTH2NRZ",
        creator: ("284834416633577472"),
        version: 0,
        next_version: None,
        previous_version: None,
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("f"),
        prompt: Some("g"),
        scenario: Some("h"),
        avatar: None,
        emoji: Some("e"),
        all_editors: [],
        latest_editor: None,
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T18:17:32.863763015+02:00[Europe/Stockholm]",
        edited_at: [],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
    (
        name: "a2",
        greeting: "b",
        id: "01JR4EGJZM7JP7CRQ4NBWH45SG",
        creator: ("284834416633577472"),
        version: 1,
        next_version: Some("01JR4ENNDZX2VX9C9Q0WXSGQ6A"),
        previous_version: Some("01JR4EFEM2PT95T8E2QTAP6AHE"),
        nickname: Some("c"),
        description: Some("d"),
        personality: Some("e"),
        system_prompt: Some("g"),
        prompt: Some("h"),
        scenario: Some("i"),
        avatar: None,
        emoji: Some("f"),
        all_editors: [
            ("284834416633577472"),
        ],
        latest_editor: Some(("284834416633577472")),
        deleted_by: None,
        color: None,
        created_at: "2025-04-06T04:22:06.46686219+02:00[Europe/Stockholm]",
        edited_at: [
            "2025-04-06T04:22:43.700350623+02:00[Europe/Stockholm]",
        ],
        deleted_at: None,
        latest_conversation: None,
        conversations_had_with_user: {},
        conversations_had: 0,
        words_generated: 0,
        tokens_generated: 0,
        example_messages: [],
        frequency_penalty: None,
        presence_penalty: None,
        temperature: None,
        top_p: None,
    ),
]